<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="bs" connectionString="Data Source=DESKTOP-OA29HVO;Initial Catalog=Client;Integrated Security=True" providerName="System.Data.SQLClient"/>

    <add name="SalesConnectionString" connectionString="Data Source=DESKTOP-OA29HVO;Initial Catalog=Client;Integrated Security=True" providerName="System.Data.SQLClient"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
    </system.web>
  

</configuration>
